{% extends "base.html" %}
{% block mid %}
<div class="container">
    <h2 style="text-align:center">Revise & Resubmission</h2>
    <form class="form-horizontal" action="/revsubmitSubmit/"method="post">
      {% csrf_token %}

      <div class="form-group">
        <label class="control-label col-sm-2" for="subject">Student Roll No:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="studroll" name="studroll" placeholder="Enter Student Roll No:">
        </div>
      </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="revisedDate">Date, Month and Year of Revised Thesis: </label>
            <div class="col-sm-10">          
              <input type="date" class="form-control" id="revisedDate" name="revisedDate" placeholder="Month and Year of Revised Thesis">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="deDate">Date, Month and Year of Communicated to DE: </label>
            <div class="col-sm-10">          
              <input type="date" class="form-control" id="deDate" name="deDate" placeholder="Date, Month and Year of Communicated to DE" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
    </form>
</div>
{% endblock %}}